<div class="dash-container">
  <div class="nav-container">
    <div class="nav nav-left">
      <p>Leaderboard</p>
    </div>
    <div class="nav nav-center">
      <p>Quonvo</p>
    </div>
    <div class="nav nav-right">
      <p>Profile</p>
    </div>
  </div>

  <div class="body-container">
    <div class="questions">
      <div class="questions-title">

      </div>
      <div class="questions-list">
        <!-- <div id="question-before"></div> -->
        <div class="question">
          <div class="question-title">
            <span id="label" class="CLASS OF LABEL">
              CSS
            </span>
          </div>
          <div class="question-body-container">
            Hey! I was hoping to get some help with CSS. Specifically, I don't really understand how flexbox works. Anything help would be great. Thanks!
          </div>
        </div>
        <div class="question">
          <div class="question-title">
            <span id="label" class="CLASS OF LABEL">
              CSS
            </span>
          </div>
          <div class="question-body-container">
            Hey! I was hoping to get some help with CSS. Specifically, I don't really understand how flexbox works. Anything help would be great. Thanks!
          </div>
        </div>
        <div class="question">
          <div class="question-title">
            <span id="label" class="CLASS OF LABEL">
              CSS
            </span>
          </div>
          <div class="question-body-container">
            Hey! I was hoping to get some help with CSS. Specifically, I don't really understand how flexbox works. Anything help would be great. Thanks!
          </div>
        </div>
        <div class="question">
          <div class="question-title">
            <span id="label" class="CLASS OF LABEL">
              CSS
            </span>
          </div>
          <div class="question-body-container">
            Hey! I was hoping to get some help with CSS. Specifically, I don't really understand how flexbox works. Anything help would be great. Thanks!
          </div>
        </div>
        <!-- <div id="question-after"></div> -->
      </div>
    </div>

    <div class="chat">
      <div class="chat-main">

      </div>
      <div class="chat-compose">
        <div class="compose-area">

        </div>
        <div class="compose-button">

        </div>
      </div>
      <div class="chat-list">

      </div>
    </div>

    <div class="archives">
      <div class="archives-title">

      </div>
      <div class="archives-list">

      </div>
    </div>
  </div>
</div>
