<div class="dash-container">
  <div class="nav-container">
    <div class="nav nav-left">
      <p>Leaderboard</p>
    </div>
    <div class="nav nav-center">
      <p>Quonvo</p>
    </div>
    <div class="nav nav-right">
      <p>Profile</p>
    </div>
  </div>

  <div class="body-container">

    <!-- QUESTION SECTION -->

    <div class="questions">
      <div class="questions-title">

      </div>
      <div class="questions-list">
      </div>
    </div>

    <!-- CHAT SECTION -->

    <div class="chat">
      <div class="chat-main">
      </div>

      <!-- CHAT COMPOSE -->

      <div class="chat-compose">
        <div class="compose-area">
          <input id="message-body" type="text" name="message-body" placeholder="Your message here..." value="">
        </div>
        <div class="compose-button">
          <button id="send-button" name="send-button">Send</button>
        </div>
      </div>

      <div class="chat-list">

      </div>
    </div>

    <!-- ARCHIVE SECTION -->

    <div class="archives">
      <div class="archives-title">

      </div>
      <div class="archives-list">
        Title: <input type="text" name="title"><br>
        Content: <input type="text" name="content"><br>
        Label: <input type="text" name="label"><br>
        <input class="question_submit" type="submit" value="Submit">
      </div>
    </div>
  </div>
</div>
